/*Обнуление*/
*{
  font-family: 'Source Sans Pro', sans-serif;
  padding: 0;
  margin: 0;
  border: 0;
  //vertical-align: baseline;
  box-sizing border-box
}
*,*:before,*:after{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
a, a:visited{text-decoration: none;background-color: transparent;}
a:hover{text-decoration: none;}
nav,footer,header,aside {display: block;}
html,body
  height: 100%
  width: 100%
  -ms-text-size-adjust: 100%
  -moz-text-size-adjust: 100%
  -webkit-text-size-adjust: 100%
  background-color var(--white)
  font-size var(--fontBase)
body
  overflow: auto
input,button,textarea {font-family:inherit;}
ol, ul{list-style: none;}
ul li{list-style: none;}
input::-ms-clear{display: none;}
img{vertical-align: top;border-style: none;}
template {display: none;}
h1,h2,h3,h4,h5,h6{font-family: Source Sans Pro;}
blockquote, q{quotes: none}
blockquote:before, blockquote:after,
q:before, q:after{content: none;}
table
  border-collapse: collapse
  border-spacing: 0
button
  cursor: pointer
  background-color: transparent
button,input,optgroup,select,textarea
  font-family: inherit
  font-size: 100%
  margin: 0
button,input
  overflow: visible
button,select
  text-transform: none
button,[type="button"],[type="reset"],[type="submit"]
  -webkit-appearance: button
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner
  border-style: none
  padding: 0
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring
  outline: 1px dotted ButtonText
code {}
