:root
  /* Переменные: основной цвет */
  --p-light: rgba(1, 174, 249, 1) /* #01aef9 */
  --primary: rgba(0, 123, 194, 1) /* #007bc2 */
  --p-dark: rgba(0, 79, 145, 1) /* #004F91 */
  /* Переменные: оттенки основного цвета */
  --p-5: rgba(225, 246, 255, 1) /* #e1f6ff */
  --p-10: rgba(180, 231, 253, 1) /* #b4e7fd */
  --p-20: rgba(130, 215, 253, 1) /* #82d7fd */
  --p-30: rgba(80, 199, 251, 1) /* #50c7fb */
  --p-40: rgba(41, 186, 250, 1) /* #29bafa */
  --p-50: rgba(1, 174, 249, 1) /* #01aef9 */
  --p-60: rgba(1, 159, 234, 1) /* #019fea */
  --p-70: rgba(0, 140, 214, 1) /* #008cd6 */
  --p-80: rgba(1, 123, 194, 1) /* #007bc2 */
  --p-90: rgba(0, 79, 145, 1) /* #004f91 */
  /* Дополнительные цвета пользовательского интерфейса. */
  --background: rgba(243, 243, 243, 1) /* #F3F3F3 */
  --surface: rgba(255, 255, 255, 1) /* #FFFFFF */
  --error: rgba(242, 38, 38, 1) /* #F22626 */
  --success: rgba(35, 194, 51, 1) /* #23C233 */

  /* Типографика и цвета иконографии на поверхность (surface) */
  --on-surface: rgba(17, 17, 17, 1) /* #111111 */
  --on-surface-additional: rgba(137, 137, 137, 1) /* #898989 */
  --on-surface-linck: rgba(0, 140, 214, 1) /* #019fea */
  /* Типографика и цвета иконографии на background */
  --on-background: rgba(17, 17, 17, 1) /* #111111 */
  --on-back-additional: rgba(98, 98, 98, 1) /* #626262 */
  --on-back-linck: rgba(0, 140, 214, 1) /* #019fea */
  /* Типографика и цвета иконографии на основном цвете (primary) */
  --on-primary: rgba(255, 255, 255, 1) /* #FFFFFF */
  --on-p-additional: rgba(0, 79, 145, 1) /* #004f91 */
  --on-p-linck: rgba(1, 159, 234, 1) /* #019FEA */
  /* Типографика и цвета иконографии на поверхность ошибка (surface) */
  --on-error: rgba(255, 255, 255, 1) /* #FFFFFF */
  --on-error-additional: rgba(248, 151, 149, 1) /* #f89795 */
  /* Типографика и цвета иконографии на поверхность ошибка (surface) */
  --on-success: rgba(255, 255, 255, 1) /* #FFFFFF */
  --on-success-additional: rgba(160, 225, 160, 1) /* #a0e1a0 */

  /* Цвет тени. */
  --shadow: rgba(0, 0, 0, 0.15) /* #000000 */
  --shadowBack: rgba(0, 0, 0, 0.4) /* #000000 */
  /* Переменные: оттенки основного цвета */
  --s-5: rgba(225, 246, 255, 1) /* #f7f7f7 */
  --s-10: rgba(238, 238, 253, 1) /* #eeeeee */
  --s-20: rgba(225, 225, 2522, 1) /* #e1e1e1 */
  --s-30: rgba(207, 207, 207, 1) /* #cfcfcf */
  --s-40: rgba(170, 170, 170, 1) /* #aaaaaa */
  --s-50: rgba(137, 137, 137, 1) /* #898989 */
  --s-60: rgba(98, 98, 98, 1) /* #626262 */
  --s-70: rgba(79, 79, 79, 1) /* #4f4f4f */
  --s-80: rgba(49, 49, 49, 1) /* #313131 */
  --s-90: rgba(17, 17, 17, 1) /* #111111 */

  /* Переменные размеров шривтов */
  --fontBase: 14px /* Базовый размер шрифта var(--fontBase) */

  /* Старые переменные. НЕИСПОЛЬЗОВАТЬ */
  --alert: rgba(255, 56, 56, 1) /* Ошибка var(--alert) */
  --warning: rgba(255, 153, 0, 1) /* Предупреждение #FF9900 var(--warning) */
  --back: rgba(250, 250, 250, 1) /* Общий фон #FaFaFa var(--colorBack) */
  --backGradient77: rgba(250, 250, 250, .7) /* Градиент шапки, средний цвет */
  --backGradient: rgba(250, 250, 250, 0) /* Градиент шапки, нижний цвет */
  --backModal: rgba(17, 17, 17, 0.1) /* Цвет заливки фона при появлении модалки */
  --backModalForm: rgba(0, 32, 51, 0.5) /* Цвет заливки фона при появлении форм */

  /* Система цветов от черного к белому */
  --black: rgba(17, 17, 17, 1) /* #111111 var(--black) */
  --grayBlack: rgba(105, 121, 130, 1) /* #697982 var(--grayBlack) */
  --grayMiddle: rgba(178, 188, 193, 1) /* #B2BCC1 var(--grayMiddle) */
  --gray: rgba(233, 233, 233, 1) /* #E9E9E9 var(--gray) */
  --grayLight: rgba(246, 246, 246, 1) /* #F6F6F6 var(--grayLight) */
  --white: rgba(255, 255, 255, 1) /* #FFFFFF var(--white) */

  /* Система брендовых цветов и их трансформация */
  --brandBlack: rgba(0, 32, 51, 1) /* #002033 var(--brandBlack) */
  --brandDark: rgba(0, 73, 165, 1) /* #0049a5 var(--brandDark) */
  --brand: rgba(0, 122, 194, 1) /* #007AC2 var(--brand) */
  --brandAccent: rgba(0, 145, 255, 1) /* #0091FF var(--brandAccent) */
  --brandAccentLight: rgba(44, 170, 255, 1)
  --brandLight: rgba(89, 194, 255, 1) /* #59C2FF var(--brandLight) */
  --brandLightL: rgba(200, 235, 255, 1) /* #C8EBFF var(--brandLightL) */
  //--brandLightLL: #EEF8FF
  --warningBack: rgba(178, 188, 193, .75) /* Фон сообщения для FF var(--warningBack) */

  /* Тени */
  --shadowBase: rgba(0, 32, 51, 0.2) /* Базовая тень элемента */
  --shadowAccent: rgba(0, 32, 51, 0.5) /* Акцентная тень элемента */
  --shadowWarning: rgba(0, 32, 51, 0.4) /* Тень модалки */
  --shadowButtonWarning: rgba(0, 122, 194, 0.5) /* Тень button модалки */

  /* Переменные компонентов button (Базовая) */
  --buttonColor_P: var(--grayMiddle)
  --buttonColor_H: var(--brandAccent)
  --buttonColor_A: var(--brandBlack)
  --buttonColor_D: var(--gray)
  --buttonBack_P: var(--white)
  --buttonBack_H: var(--white)
  --buttonBack_A: var(--brandLightL)
  --buttonBack_D: var(--white)
  --buttonShadow_P: var(--shadowBase)
  --buttonShadow_H: var(--shadowAccent)
  --buttonShadow_A: var(--shadowBase)

  /* Переменные компонентов input (Базовая) */
  --inputColor_P: var(--grayBlack)
  --inputColor_F: var(--brandAccent)
  --inputColor_A: var(--brandBlack)
  --inputColor_D: var(--grayMiddle)
  --inputPlaceholder: var(--grayBlack)
  --inputBack_P: var(--white)
  --inputBack_D: var(--grayLight)

  /* Неизменяймые переменные */
  --fontBig: calc(var(--fontBase) * 1.125)
  --fontSmall: calc(var(--fontBase) * 0.875)
  --fontTiny: calc(var(--fontBase) * 0.75)
  --lineHeightH: calc(var(--fontBase) * 1.1)
  --lineHeightText: calc(var(--fontBase) * 1.4)
  --h1: calc(var(--fontBase) * 3.5)
  --h2: calc(var(--fontBase) * 3)
  --h3: calc(var(--fontBase) * 2.5)
  --h4: calc(var(--fontBase) * 2)
  --h5: calc(var(--fontBase) * 1.5)
  --h6: calc(var(--fontBase) * 1.25)
  --fontTitle: calc(var(--fontBase) * 2.5) /* Размер шрифта, заголовок формы */
  --buttonIcon: calc(var(--fontBase) * 2) /* Размер иконки в кнопке формы */
  --buttonIconMin: calc(var(--fontBase) * 1.8); /* Размер иконки в текстовых полях */
  --buttonIconTable: calc(var(--fontBase) * 1.4); /* Размер иконки в ячейке таблицы */
  --fontlabel: calc(var(--fontBase) / 1.1) /* Размер label при фокусе */
