:root
  /* Color styles */
  --black-dark #333333
  --black-default #4F4F4F
  --black-light #828282
  --black-lighter #BDBDBD
  --red-dark #FF0000
  --red-default #EB5757
  --red-light #E18080
  --orange #F2994A
  --yellow #F2C94C
  --green-dark #219653
  --green-default #27AE60
  --green-light #6FCF97
  --blue-dark #2F80ED
  --blue-default #2D9CDB
  --blue-light #56CCF2
  --white-default #FFFFFF
  --white-dark #F8F8F8
  --white-darker #EEEEEE
  --transparent rgba(0, 0, 0, 0.4)

  /* Font size */
  --body-large 16px
  --body-medium 14px
  --bod-small 12px

  --label-large 14px
  --label-medium 12px
  --label-small 11px

  --title-large 22px
  --title-medium 16px
  --title-small 14px

  --headline-large 32px
  --headline-medium 28px
  --headline-small 24px

  --display-large 57px
  --display-medium 45px
  --display-small 36px

body[data-theme='brand']
  --primary #6750A4
  --primary_opaciti_08 rgba(103, 80, 164, 0.8)
  --primary_opaciti_008 rgba(103, 80, 164, 0.08)
  --primary_opaciti_005 rgba(103, 80, 164, 0.05)
  --primary_opaciti_012 rgba(103, 80, 164, 0.12)
  --on-primary #FFFFFF
  --promary-container #EADDFF
  --on-primary-container #21005D
  --secondary #625B71
  --on-secondary #FFFFFF
  --secondary-container #E8DEF8
  --on-secondary-container #1D192B
  --tertiary #7D5260
  --on-tertiary #FFFFFF
  --tertiary-container #FFD8E4
  --on-tertiary-container #31111D
  --error #B3261E
  --on-error #FFFFFF
  --error-container #F9DEDC
  --on-error-container #410E0B
  --background #FFFBFE
  --on-backgroud #1C1B1F
  --surface #FFFBFE
  --on-surface #1C1B1F
  --surface-variant #FFFBFE
  --on-surface-variant #49454F
  --outline #79747E
  --background-transparent rgba(0, 0, 0, 0.4)

body[data-theme='dark']
  --primary #D0BCFF
  --primary_opaciti_08 rgba(103, 80, 164, 0.8)
  --primary_opaciti_008 rgba(103, 80, 164, 0.08)
  --primary_opaciti_005 rgba(103, 80, 164, 0.05)
  --primary_opaciti_012 rgba(103, 80, 164, 0.12)
  --on-primary #381E72
  --promary-container #4F378B
  --on-primary-container #EADDFF
  --secondary #CCC2DC
  --on-secondary #332D41
  --secondary-container #4A4458
  --on-secondary-container #E8DEF8
  --tertiary #EFB8C8
  --on-tertiary #492532
  --tertiary-container #633B48
  --on-tertiary-container #FFD8E4
  --error #F2B8B5
  --on-error #601410
  --error-container #8C1D18
  --on-error-container #F9DEDC
  --background #1C1B1F
  --on-backgroud #E6E1E5
  --surface #1C1B1F
  --on-surface #E6E1E5
  --surface-variant #49454F
  --on-surface-variant #CAC4D0
  --outline #938F99
  --background-transparent rgba(28, 27, 31, 0.4)
